In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('yellow_tripdata_2019-01.csv', nrows=100)

In [8]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.50,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.60,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.00,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.00,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.00,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-01-01 00:02:06,2019-01-01 00:10:19,2,2.57,1,N,45,97,1,9.5,0.5,0.5,2.16,0.0,0.3,12.96,NaN
96,2,2019-01-01 00:24:57,2019-01-01 00:35:42,2,2.44,1,N,144,256,2,10.5,0.5,0.5,0.00,0.0,0.3,11.80,NaN
97,2,2019-01-01 00:46:09,2019-01-01 01:06:46,1,4.18,1,N,79,263,1,16.0,0.5,0.5,3.46,0.0,0.3,20.76,NaN
98,1,2019-01-01 00:16:07,2019-01-01 00:19:41,1,1.00,1,N,140,233,1,5.0,0.5,0.5,1.00,0.0,0.3,7.30,NaN
99,1,2019-01-01 00:23:47,2019-01-01 00:39:41,1,3.90,1,N,229,238,1,14.5,0.5,0.5,4.70,0.0,0.3,20.50,NaN

In [10]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [11]:
from sqlalchemy import create_engine

In [12]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [13]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [14]:
df_iter = pd.read_csv('yellow_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [15]:
df = next(df_iter)

In [16]:
len(df)

100000

In [21]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [22]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 4.7 s, sys: 173 ms, total: 4.87 s
Wall time: 8.83 s

1000

In [23]:
from time import time

In [24]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    
    print("inserted another chunk..., took %.3f seconds" % (t_end - t_start))

inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...

StopIteration: